@media (max-width:1280px) {
    .hompages {
        width: auto;
    }

    .hompages-sub {
        margin: 50px auto 0 auto;
        max-width: 830px;

        &_block {
            margin-right: 0;
            margin-top: 22px;

            img {
                max-width: 392px;
            }
        }
    }

    .fackts {
        margin-bottom: 96px;
    }
}

@media (max-width: 1200px) {
    .menu {
        border: 0;

        &-logo {
            margin-left: 10px;
        }

        &-main {
            position: fixed;
            -webkit-transform: translate(-100%, 0);
            -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #f1f1f1;
            z-index: 14;
            transition: transform 0.3s ease 0s;
            padding: 0 30px 30px 0;
            overflow: auto;

            ul {
                padding-top: 150px;
                display: block;
                max-width: 310px;
                margin: 0 auto;

                li {
                    margin-bottom: 20px;
                }
                
                a {
                    font-size: 40px;
                }
            }
        }

        &-login {
            display: none;

            &_sign {
                div {
                    display: none;
                }
            }
        }

        &-burger {
            display: block;
        }
    }

    @media (max-width:1060px) {
        .moon {
            &-im {
                display: none;
            }

            &-links {
                width: 100%;
                &_social, &_pages {
                    margin-left: 0;
                }
            }
        }
    }

    @media (max-width:1026px) {
        .contacts {
            margin-top: 0;
            width: 100%;

            &-img {
                display: none;
            }

            &-input {
                width: 90%;
                margin: 0 auto;

                h1 {
                    margin-top: 10px;
                }
            }
        }
    }

    .img-main {
        max-width: 840px;

        &_third {
            display: none;
        }
    }

    .fackts {
        &-first {
            display: none;
        }

        &-second {
            margin: 0 auto;
        }
    }
}

@media (max-width:885px) {
    .hompages-sub {
        max-width: 392px;
    }
}

@media (max-width: 780px) {
    .img-main {
        img {
            margin-right: auto;
        }

        &_second {
            display: none;
        }

        &_first {
            margin: 0 auto;
        }
    }
}

@media (max-width: 672px) {
    .moon-links_social {
        margin-top: 32px;
    }

    .moon-links_pages {
        margin-top: 41px;
    }
}


@media (max-width: 632px) {
    .hompages {
        padding: 0;

        h1,p {
            padding: 0 20px;
        }
    }

    .explore {
        p {
            font-size: 18px;
        }
        
        h1 {
            margin-top: 32px;
            font-size: 44px;
        }
    }

    .fackts {
        margin-top: 50px;

        &-second {
            button {
                margin-top: 31px;
            }
        }
    }
}

@media (max-width: 520px) {
    .contacts-input button a {
        padding: 16px 33%;
    }
}

@media (max-width: 414px) {
    .hompages-sub {
        &_block {
            img {
                max-width: 100%;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 400px) {
    .img-main_first {
        width: 100%;
    }

    .moon-links_pages-sub {
        margin-right: 50px;
    }
}

@media (max-width: 361px) {
    .hompages-sub {
        &_block {
            img {
                max-width: 340px;
                margin: 0 auto;
            }
        }
    }
}

._active {
    transform: translate(0%, 0);
    -webkit-transform: translate(0%, 0);
    -ms-transform: translate(0%, 0);
}

._activeBtn {
    div {
        &:nth-child(2) {
            display: none;
        }
    }
}

.menu-login_active {
    display: block;
    z-index: 15;
    border: 0;
    height: 80px;
    width: 390px;
    margin: 328px 0 0 20px;

    a {
        margin: 0;
        font-size: 40px;
    }
}