.menu {
    display: flex;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid hsla(0, 0%, 20%, 1);

    &-logo {
        position: relative;
        margin: 24px 0 0 52px;

        img {
            position: absolute;
            width: 187px;
            height: 34px;
        }
    }

    &-main {
        display: flex;
        margin-left: auto;

        ul {
            list-style: none;
            padding-top: 30px;
        }

        li {
            text-decoration: none;
            display: inline-block;
            margin-right: 42px;
            line-height: 20px;
            &:last-child {
                margin-right: 80px;
                a {
                    padding: 10px 10px 10px 23px;
                    &:hover {
                        border-bottom: 0;
                    }

                    img {
                        width: 38px;
                        height: 1px;
                        background-color: black;
                        position: relative;
                        bottom: 3px;
                    } 
                }
            }
        }

        a:hover {
            border-bottom: 2px solid black;
        }

        div {
            width: 1px;
            height: 80px;
            position: absolute;
            top: 0;
            background-color: black;
        }
        
    }

    &-burger {
        display: none;
        width: 40px;
        height: 40px;
        margin: 20px 15px 0 auto;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        z-index: 15;

        div {
            width: 100%;
            height: 3px;
            background-color: black;
            margin-bottom: 8px;
            border-radius: 15px;
        }
    }
}

.explore {
    margin: 0 auto;
    max-width: 884px;

    h1 {
        margin: 92px 0 29px 0;
        text-align: center;
        font-size: 64px;
        font-weight: 700;
        font-family: "Libre Baskerville";
        line-height: 76px;
    }

    p {
        text-align: center;
        line-height: 36px;
        font-size: 22px;
    }

    button {
        width: 242px;
        height: 64px;
        display: block;
        margin: 35px auto 64px auto;

        a {
            padding: 20px 45px;
            line-height: 20px;
            font-size: 18px;
            color: hsla(51, 18%, 92%, 1);
        }
    }
}