* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 0.78vw;
    background-color: #424242;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #686868;
    border-radius: 1.17vw;
}

body {
    font-family: "Oxygen";
    font-weight: 400;
    background: #F5F5F5;
    color: hsla(0, 0%, 20%, 1);
    overflow-x: hidden;
    height: auto;
}

a {
    padding: 10px;
    color: hsla(0, 0%, 20%, 1);
    text-decoration: none;
}

button {
    background: hsla(0, 0%, 20%, 1);
    border: 0;
    color: hsla(51, 18%, 92%, 1);
}

.inside {
    margin: 0 auto;
    max-width: 1240px;
}

.img-outer {
    background: hsla(0, 0%, 20%, 1);
}

.moon-outer {
    background: hsla(53, 24%, 86%, 1);
    margin-top: 80px;
}

._lock {
    position: relative;
    overflow: hidden;
}

.big-name {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    font-family: "Libre Baskerville";
    color: hsla(0, 0%, 20%, 1);
}

.sub-name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: hsla(0, 0%, 20%, 0.9);
    margin-top: 28px;
}

#upbutton {
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;
}